.Sidebar {
    width: 80px;
    min-height: 100vh;
    background-color: #97A677;
    transition: width 0.5s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: fixed;

    .burger-menu {
        cursor: pointer;
        margin-top: 10px;
        align-self: flex-end;
        margin-right: 25px;
        transition: color 0.3s;

        &:hover {
            color: #16BAC5;
        }
    }
    .close-menu {
        cursor: pointer;
        margin-top: 10px;
        align-self: flex-end;
        margin-right: 25px;
        display: none;
        transition: color 0.3s;

        &:hover {
            color: rgb(255, 31, 31);
        }
    }

    nav {
        margin-top: 50px;
        ul {
            li {
                cursor: pointer;
                margin-bottom: 10px;
                list-style: none;
                transition: color 0.3s;
                font-size: 18px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 10px;
                user-select: none;

                &:hover {
                    color: #16BAC5;
                }

                .link a {
                    display: none;
                }

                a {
                    display: none;
                }

                .link {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    text-decoration: none;
                    gap:10px;
                    color: white;
                    transition: color 0.3s;

                    &:hover {
                        color: #16BAC5;
                    }
                }
            }

            .Search-field {
                display: none;
                position: absolute;
                width: 125px;
                padding: 6px 10px;
                border-radius: 8px;
                box-shadow: unset;
                border: unset;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}